<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Corporation.  All Rights Reserved. -->
<configuration>
  <system.serviceModel>
	  <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/> 
		  <extensions>
      <!-- The endpoint extension specifies where the standard endpoint is defined -->
      <endpointExtensions>
        <add name="customEndpoint" type="TestEdge.CustomEndpointCollectionElement, TestEdge"/>
      </endpointExtensions>
    </extensions>
    <services>
     <service behaviorConfiguration="Default" name="TestEdge.ApiService">
        <!-- This standard endpoint has a fixed binding and an extra property defined in the <standardEndpoints> section -->
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="TestEdge.IComunicationApi"/>
        <!-- This is a MEX endpoint which is a builtin kind of standard endpoint with fixed address, binding and contract -->
      		  <host>
			  <baseAddresses>
				  <add baseAddress="http://localhost:8000/Samples/Service.svc"/>  
			  </baseAddresses>	  
		  </host>
      </service>
    </services>
    <behaviors>
		<endpointBehaviors>
			<behavior name="webBehavior">
				<webHttp/>
			</behavior>
		</endpointBehaviors>
      <serviceBehaviors>
        <behavior name ="Default">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!-- This section allows the user to give value to the additional properties of the standard endpoints -->
    <standardEndpoints>
     <customEndpoint>
        <standardEndpoint property="True"/>
      </customEndpoint>
    </standardEndpoints>
	  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
